body {
	background-color: #ffffff;
}

.field {
	border-bottom: 1px solid #c0c0c0;
	margin: 1em 0 1em 0;
	padding: 0.5em 0 0.5em 0;
}

.field .title {
	display: block;
	font-size: 2em;
	font-weight: bold;
}

.field .modifiers {
	display: inline;
}

.field .type {
	display: inline;
}

.field .modifiers {
	display: inline;
}

.field .name {
	font-weight: bold;
	display: inline;
}

.field .comment {
	margin-left: 2em;
}
	
.method {
	border-bottom: 1px solid #c0c0c0;
	margin: 1em 0 1em 0;
	padding: 0.5em 0 0.5em 0;
}

.method .title {
	display: block;
	font-size: 2em;
	font-weight: bold;
}

.method .modifiers {
	display: inline;
}

.method .return-type {
	display: inline;
}

.method .modifiers {
	display: inline;
}

.method .name {
	font-weight: bold;
	display: inline;
}

.method .comment {
	margin-left: 2em;
}
	
.tableheader {
	background: #6bbedd;
}

.first-line {
	font-style: italic;
}

.method-name {
	font-weight: bold;
}

body, table, td {
	font-family: georgia, serif;	
	font-size: 11pt;
}

table, td {
    border-color: #c0c0c0;
    border-style: solid;
}

table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}


tr, td {
	vertical-align: top;
}