<html>
<head>
	<!-- ${clazz.aboutMessage()} -->
	<title>${clazz.name()}</title>
	<link rel="stylesheet" href="../../css/style.css" type="text/css"/>
</head>
<body>
<b>${clazz.thePackage()}</b>
<h1>${clazz.name()}</h1>
<p>
${clazz.rawCommentText}
</p>
#foreach( $method in $clazz.methods() )
	${method.name()}<br/>
#end
</body>
</html>